{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Mascotas</h1>
<a href="{% url 'crear_mascota' %}">Crear Mascota!</a>
<br>
<a href="{% url 'busqueda_mascota_form' %}">Busca tu Mascota</a>

<br><br>
<h3>Mascotas:</h3>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>
        <strong>Edad</strong>
      </th>
    </tr>
    {% for Mascota in mascota %}
    <tr>
      <td>{{Mascota.nombre}}</td>
      <td>{{Mascota.edad}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}