{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
  .eliminado {
    background-color: red;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

{% if borrado %}
<div class="eliminado">Fue borrada exitosamente la profesion de ID: {{ borrado }}</div>
{% endif %}

<h1>Profesiones</h1>
<a href="{% url 'crear_profesion' %}">Crear profesion!</a>

<br><br>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for profesion in profesion %}
    <tr>
      <td>{{profesion.nombre}}</td>
      <td><a href="{% url 'editar_profesion' profesion.id %}">Editar</a></td>
      <td><a href="{% url 'eliminar_profesion' profesion.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}